<div class="min-h-screen bg-black flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-10 w-auto" src="https://www.svgrepo.com/show/301692/login.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-white-900">
            Login to your account
        </h2>
        <p class="mt-2 text-center text-sm leading-5 text-white-500 max-w">
            Or
            <a routerLink="/auth/register"
                class="font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                create a new account
            </a>
        </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-green-950 shadow-lg py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <div>
                    <label for="username" class="block text-sm font-medium leading-5 text-gray-100">
                        Username 
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input id="username" name="username" placeholder="mohammed_43" type="username" required=""
                            formControlName="username"
                            class="appearance-none block w-full px-3 py-2 border border-green-300 rounded-md placeholder-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-300 transition duration-150 ease-in-out bg-black opacity-70 text-white sm:text-sm sm:leading-5">
                    </div>
                </div>

                <div class="mt-6">
                    <label for="password" class="block text-sm font-medium leading-5 text-gray-100">
                        Password
                    </label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <input id="password" name="password" type="password" required=""
                            formControlName="password"
                            placeholder="**********"
                            class="appearance-none block w-full px-3 py-2 border border-green-300 rounded-md placeholder-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-300 transition duration-150 ease-in-out bg-black opacity-70 text-white sm:text-sm sm:leading-5">
                    </div>
                </div>

                <div class="mt-6">
                    <span class="block w-full rounded-md shadow-sm">
                        <button type="submit" 
                            [disabled]="!loginForm.valid"
                            class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                            Login
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
